# Bot Details
TOKEN = '***** PUT YOUR TOKEN HERE *****'

# General Settings
HANDLER_SUFFIX = 'handler'

# Request Configuration
REQUEST_KWARGS = {
	'proxy_url': 'socks5h://localhost:<port>/',     # SOCKS Proxy
}

# Database Settings
# PostgreSQL
DATABASE = {
	'host': 'HOST',
	'database': 'DATABASE',
	'user': 'USER',
	'password': 'PASSWORD',
}
# SQLite
DB_NAME = 'NAME'
